@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #f8fcff 0%, #fbf9fd 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  color: #f8fcff;
}

.this {
  color: #293c4d;
}
h2 {
  font-weight: 700;
  color: #f0f4f7;
  line-height: 1.25em;
  margin-bottom: 1em;
}
